@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F8F8;
  --foreground: #16898e;
  --secondary: #015364;
  --main-text: #17252A;
  --sub-text: #455A64;
  --black: #030303;
  --pink: #F26A8D;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", serif;
}
